:root {
  --primary-color: #7c79ff;
  --dark-color: #03070f;
}
html,
body {
  padding: 0;
  margin: 0;
}
header {
  height: 300px;
  width: 100%;
  background-color: #16a085;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0;
  color: #fff;
  font-size: 3em;
}
p {
  font-size: 1.5em;
  color: #fff;
}

main {
  display: flex;
  width: 100%;
  height: calc(100vh - 400px);
}

textarea {
  box-sizing: content-box;
  margin: 50px 25px 50px;
  flex: 0 1 100%;
  height: 100%;
}
